p{
    text-align: justify;
    padding: 0 25px 0 25px;
    font-size: 20px;
}

.elem1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 20px;
}
.elem1 img{
    width: 100%;
    height: 300px;
}
.elem2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 20px 20px 0 20px;
}
.elem2 iframe{
    width: 100%;
    height: 300px;
}
.elem3{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 20px;
}
.elem3 img{
    width: 100%;
    height: 300px;
}
.elem4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px;
    height: 300px;
    background-color:rgb(243, 213, 176);
    border-radius: 25px 0 0 25px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.elem4 img{
    width: 100%;
    height: 100%;
    border-radius: 25px ;
}
.elem5{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: antiquewhite;
    height: 300px;
    padding: 20px;
    border-radius: 0 25px 25px 0 ;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.elem5 h1{
    text-align: center;
    height: auto;
} 
.elem5 p{
    padding: 10px;
}

/* Nuevos elementos */
body{
    background-color: rgb(218, 215, 205);
}
.carousel{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slides{
    display: flex;
    width: 200%;
    animation: slide 6s infinite alternate;
    position: relative;
}
.slide{
    width: 100vw;
    flex-shrink: 0;
    position: relative;
}
.slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    display: block;
}
@keyframes slide{
    0%{transform: translateX(0);}
    45%{transform: translateX(0);}
    55%{transform: translateX(-100vw);}
    100%{transform: translateX(-100vw);}
}
.header-content{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(163, 177, 138);
}
.header-text{
    justify-items: right;
}
.header-text p{
    font-size: 1.2rem;
    color: #555;
}
.cnav{
    justify-content: center;
    border: 0;
}
.cnav a{
    text-decoration: none;
    margin: 20px;
}
.buscador-prop {
    text-align: center;
    margin: 20px 0;
}

.buscador-prop h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.buscador-prop form {
    display: inline-block;
}
.buscador-prop label{
    color: black;
}
.buscador-prop input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buscador-prop button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buscador-prop button:hover {
    background-color: #0056b3;
}
