/* Elementos generales */
body{
    background-color: rgb(218, 215, 205);
}
nav{
    padding: 0;
    margin: 0;
    .container-fluid{
        display: flex;
        background-color: rgb(163, 177, 138);
        justify-content: space-between;
        align-items: center;
        margin: 0;
    } 
}
/*Elementos comunes */
#logo{
    height: 100px;
    border-radius: 15px;
    padding: 10px;
}
#header-row{
    padding: 0 0 10px 0;
    .col{
        display: flex;
        justify-content: space-between;
        align-items:center;
        background-color: rgb(163, 177, 138);
    }
}
.navbar{
    padding-top: 0 !important;
    .container-fluid{
        display: flex; 
        justify-content: center !important;
        align-items: center;
        padding: 10px 0;
        a{
            margin: 0 10px;
        }
        .btn-primary{
            background-color: rgb(88, 129, 87);
            border: rgb(88, 129, 87);
        }
    }
}

.carousel{
    height: 600px !important;
    overflow: hidden;
    position: relative;
}

.buscador-prop{
    margin: 3rem 0;
    padding: 1.5rem;
    background-color: rgb(207, 207, 207);
    border-radius: 0.25rem;
    h2{
        text-align: center;
        margin: 0 0 1.5rem 0;
    }
    .form-prop{
        padding: 0 0.5rem;
        justify-content: center;
        div{
            flex: 0 0 calc(30% - 1rem);
            max-width: calc(30% - 1rem);
        }
        #sbmt{
            display: flex;
            align-items: end;
            flex: 0 0 calc(15% - 1rem);
            max-width: calc(15% - 1rem);
        }
        #btn-buscar{
            background-color: rgb(163, 177, 138);
            border: rgb(88, 129, 87);
            width: 100%;
        }
    }
}
.propiedades{
    background-color: rgb(163, 177, 138);
    .rec{
        text-align: center;
        padding: 1rem;
    }
    .card{
        margin: 20px;
        background-color: rgb(147, 161, 122);
        align-items: center;
        img{
            margin: 1rem;
            padding: 1rem;
            border-radius: 0.25rem; 
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }

}



@import "./node_modules/bootstrap/scss/bootstrap.scss";